In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType

spark = SparkSession.builder.getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.2.0-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
21/12/22 18:06:22 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
stores_schema = StructType([
    StructField('Store', IntegerType()),
    StructField('Type', StringType()),
    StructField('Size', IntegerType())
])
df_stores = spark.read.format('csv').option("header", True).schema(stores_schema).load('./input/stores.csv')
df_stores.createOrReplaceTempView('stores')

In [3]:
df_features = spark.read.format('csv').option("header", True).load('./input/features.csv')
df_features.createOrReplaceTempView('features')

In [4]:
df = spark.sql("Describe stores")
df.show()

+--------+---------+-------+
|col_name|data_type|comment|
+--------+---------+-------+
|   Store|      int|   null|
|    Type|   string|   null|
|    Size|      int|   null|
+--------+---------+-------+

In [5]:
df = spark.sql("Select store, size from stores")
df.show(5)

+-----+------+
|store|  size|
+-----+------+
|    1|151315|
|    2|202307|
|    3| 37392|
|    4|205863|
|    5| 34875|
+-----+------+
only showing top 5 rows

In [6]:
df = spark.sql("Select * from stores where type = 'A' AND size > 200000")
df.show(5)

+-----+----+------+
|Store|Type|  Size|
+-----+----+------+
|    2|   A|202307|
|    4|   A|205863|
|    6|   A|202505|
|   11|   A|207499|
|   13|   A|219622|
+-----+----+------+
only showing top 5 rows

In [7]:
df = spark.sql("Select type, SUM(size), avg(size), count(1) from stores Group by type")
df.show(5)

+----+---------+------------------+--------+
|type|sum(size)|         avg(size)|count(1)|
+----+---------+------------------+--------+
|   B|  1720242|101190.70588235294|      17|
|   C|   243250|40541.666666666664|       6|
|   A|  3899450|177247.72727272726|      22|
+----+---------+------------------+--------+

In [11]:
df = spark.sql("Select store, type, size, collect_list(size) over (PARTITION by type order by store) as sum from stores")
df.show(50)

+-----+----+------+--------------------+
|store|type|  size|                 sum|
+-----+----+------+--------------------+
|    1|   A|151315|            [151315]|
|    2|   A|202307|    [151315, 202307]|
|    4|   A|205863|[151315, 202307, ...|
|    6|   A|202505|[151315, 202307, ...|
|    8|   A|155078|[151315, 202307, ...|
|   11|   A|207499|[151315, 202307, ...|
|   13|   A|219622|[151315, 202307, ...|
|   14|   A|200898|[151315, 202307, ...|
|   19|   A|203819|[151315, 202307, ...|
|   20|   A|203742|[151315, 202307, ...|
|   24|   A|203819|[151315, 202307, ...|
|   26|   A|152513|[151315, 202307, ...|
|   27|   A|204184|[151315, 202307, ...|
|   28|   A|206302|[151315, 202307, ...|
|   31|   A|203750|[151315, 202307, ...|
|   32|   A|203007|[151315, 202307, ...|
|   33|   A| 39690|[151315, 202307, ...|
|   34|   A|158114|[151315, 202307, ...|
|   36|   A| 39910|[151315, 202307, ...|
|   39|   A|184109|[151315, 202307, ...|
|   40|   A|155083|[151315, 202307, ...|
|   41|   A|196321|[151315, 202307, ...|
|    3|   B| 37392|             [37392]|
|    5|   B| 34875|      [37392, 34875]|
|    7|   B| 70713|[37392, 34875, 70...|
|    9|   B|125833|[37392, 34875, 70...|
|   10|   B|126512|[37392, 34875, 70...|
|   12|   B|112238|[37392, 34875, 70...|
|   15|   B|123737|[37392, 34875, 70...|
|   16|   B| 57197|[37392, 34875, 70...|
|   17|   B| 93188|[37392, 34875, 70...|
|   18|   B|120653|[37392, 34875, 70...|
|   21|   B|140167|[37392, 34875, 70...|
|   22|   B|119557|[37392, 34875, 70...|
|   23|   B|114533|[37392, 34875, 70...|
|   25|   B|128107|[37392, 34875, 70...|
|   29|   B| 93638|[37392, 34875, 70...|
|   35|   B|103681|[37392, 34875, 70...|
|   45|   B|118221|[37392, 34875, 70...|
|   30|   C| 42988|             [42988]|
|   37|   C| 39910|      [42988, 39910]|
|   38|   C| 39690|[42988, 39910, 39...|
|   42|   C| 39690|[42988, 39910, 39...|
|   43|   C| 41062|[42988, 39910, 39...|
|   44|   C| 39910|[42988, 39910, 39...|
+-----+----+------+--------------------+

In [9]:
df = spark.sql("Select stores.store as store, first(type), avg(features.fuel_price) as price from stores left join features on stores.store = features.store group by stores.store")
df.show(5)

+-----+-----------+------------------+
|store|first(type)|             price|
+-----+-----------+------------------+
|    1|          A| 3.259241758241762|
|    2|          A| 3.259241758241762|
|    3|          B| 3.259241758241762|
|    4|          A|3.2548846153846154|
|    5|          B| 3.259241758241762|
|    6|          A| 3.259241758241762|
|    7|          B|3.2944010989010986|
|    8|          A| 3.259241758241762|
|    9|          B| 3.259241758241762|
|   10|          B|3.6156483516483515|
|   11|          A| 3.259241758241762|
|   12|          B| 3.643653846153846|
|   13|          A| 3.328763736263739|
|   14|          A|3.4764120879120886|
|   15|          B| 3.643357142857143|
|   16|          B|3.2944010989010986|
|   17|          B| 3.328763736263739|
|   18|          B|3.4978736263736248|
|   19|          A| 3.643357142857143|
|   20|          A|3.4764120879120886|
|   21|          B| 3.259241758241762|
|   22|          B|3.4978736263736248|
|   23|          B|3.4978736263736248|
|   24|          A| 3.643357142857143|
|   25|          B|3.4764120879120886|
|   26|          A|3.4978736263736248|
|   27|          A| 3.643357142857143|
|   28|          A| 3.643653846153846|
|   29|          B|3.4978736263736248|
|   30|          C| 3.259241758241762|
|   31|          A| 3.259241758241762|
|   32|          A|3.2944010989010986|
|   33|          A|3.6156483516483515|
|   34|          A|3.2548846153846154|
|   35|          B|3.4764120879120886|
|   36|          A|3.2459450549450533|
|   37|          C| 3.259241758241762|
|   38|          C| 3.643653846153846|
|   39|          A| 3.259241758241762|
|   40|          A|3.4978736263736248|
|   41|          A|3.2944010989010986|
|   42|          C|3.6156483516483515|
|   43|          C| 3.259241758241762|
|   44|          C| 3.328763736263739|
|   45|          B|3.4764120879120886|
+-----+-----------+------------------+

In [10]:
df = spark.sql("Select stores.store as store, first(type), collect_list(features.fuel_price) as price from stores left join features on stores.store = features.store group by stores.store")
df.show(5)

+-----+-----------+--------------------+
|store|first(type)|               price|
+-----+-----------+--------------------+
|   31|          A|[3.62, 3.556, 3.4...|
|   34|          A|[3.58, 3.518, 3.3...|
|   28|          A|[3.865, 3.823, 3....|
|   26|          A|[3.879, 3.803, 3....|
|   27|          A|[3.951, 3.913, 3....|
+-----+-----------+--------------------+
only showing top 5 rows